@import "fonts";
@import url("http://www.google.com/webfonts/specimen/Open+Sans");


/* links in white background */
a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #AAA;
  padding-bottom: 0.1em;
  &:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
    border: 0;
  }
}

/* headers */
h1, h2, h3 {
  a {
    color: #333;
    text-decoration: none;
    border: 0;
    &:hover {
      background: #FFF;
      color: #333;
      text-decoration: underline;
    }
  }
}

/* fixed black line it the top */
#fixed-top-line {
  height: 0.5em;
  background-color: #333;
}


header.container {
  padding: 9em 0 5em 0;
  h1 {
    font-family: 'Proxima Nova Bold';
    font-size: 72px;
    font-weight: bolder;
    margin-bottom: 0.3em;
  }
}

article {
  padding-bottom: 7em;
  .entry-date {
    padding-top: 1em;
    padding-bottom: 2.5em;
    time {
      font-size: 0.8em;
      line-height: 20px;
      color: #BBB;
    }
  }
  .entry-title {
    font-family: 'Proxima Nova Bold', Verdana, Helvetica, sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .read-more a em {
    color: black;
  }
}

.nav-page {
  padding-bottom: 1em;
    li {
      display: inline;
      list-style-type: none;
    }
    li.previous {
      float: left;
    }
    li.next {
      float: right;
    }
}

nav {
  padding: 2em 0 1em 0;
  ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
}

footer {
  background: #333;
  padding: 3em 0;
  color: #717171;
  border-top: 1px solid #111;
  a {
    color: #999;
    border-bottom: 1px solid #AAA;
  }
}

body {
  font-family: "Proxima Nova Regular", 'Helvetica', Arial, Helvetica, sans-serif;
  color: #333;
}

.sharing, .meta, .pager {
  margin: 20px 0px 20px 0px;
}

.page-footer p {
  text-align: center;
}
