---
layout: default_index
---
<div>
  {% assign index = true %}
  {% for post in paginator.posts %}
    {% assign content = post.content %}
    <div class="container">
      <div class="span12">
        {% include article.html %}
      </div>
    </div>
    <hr>
  {% endfor %}
  <div class="container">
    <ul class="row-fluid pager">
      {% if paginator.next_page %}
      <li class="previous"><a href="{{paginator.next_page}}">&larr; Mais antigos</a></li>
      {% endif %}
      {% if paginator.previous_page %}
      <li class="next"><a href="{{paginator.previous_page}}">Mais recentes &rarr;</a></li>
      {% endif %}
    </ul>
  </div>
</div>